body {
  font-family: 'GothamBold', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica,
    Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}

.custom-1 {
  background-color: #383838;
}

.navbar-dark .navbar-brand i {
  color: #d35266;
}

.carousel .section-heading i {
  color: #d35266;
}

.navbar-dark .navbar-nav li:first-child i {
  color: #d35266;
}

footer .footer-copyright a {
  color: #d35266;
}

footer .col-md-3 ul a {
  color: #383838 !important;
}

.navbar-dark .navbar-nav li:nth-child(2) a {
  color: #d35266;
}

.fa-drum {
  color: #d35266;
}

.fa-music {
  color: #d35266;
}

.fa-guitar {
  color: #d35266;
}

.navbar-dark .navbar-nav li button {
  background-color: #d35266;
}

.navbar-dark .navbar-nav li button:focus {
  background-color: #d35266;
}

.navbar-dark .navbar-nav li button:hover {
  background-color: rgb(212, 52, 76);
}

.navbar-dark .navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-dark .navbar-toggler:hover {
  border-color: #d35266;
}

.information .jumbotron {
  margin-bottom: 0;
  background-color: #d35266;
  border-radius: 0;
  color: white;
  padding: 8rem 1rem 2rem 1rem;
}

.latest .carousel-inner {
  height: 180px;
}

.latest .carousel-item {
  width: 80%;
  float: inherit;
  margin: auto;
  min-height: 280px;
}

section .carousel-indicators {
  display: none;
}

.latest .carousel-indicators {
  display: none;
}

.latest .fa-chevron-left {
  color: #d35266;
}

.latest .fa-chevron-right {
  color: #d35266;
}

.latest .bs-example {
  margin: 20px;
}

.latest .carousel {
  background-color: white;
}

.latest .carousel .card {
  border: none;
}

.content .carousel {
  margin: auto;
  width: 100%;
}

.content .carousel-item {
  width: 80%;
  float: inherit;
  margin: auto;
}

.content .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  color: black;
}

.content .fa-chevron-left {
  color: #d35266;
}

.content .fa-chevron-right {
  color: #d35266;
}

.content {
  background-color: #8080802e;
  padding-bottom: 1rem;
}

.content .carousel .card {
  border: none;
}

.content .carousel-inner {
  height: 400px;
}

.jumbotron .form-inline .btn {
  border-radius: 0;
}

.card .card-body .btn {
  color: white;
}

.card .card-body .btn-primary {
  background-color: #d35266;
  color: white;
  border-color: #d35266;
}

.card .card-body .btn:hover {
  cursor: pointer;
}

.jumbotron .form-inline .input-group-prepend .btn {
  border-right: 1px solid #d35266;
}

.jumbotron .form-inline .input-group .form-control {
  border-radius: 0;
  border-right: 1px solid #d35266;
}

.card-title {
  color: #d35266;
  font-weight: 600;
}

.section-heading {
  padding: 2rem;
}

.section-heading-content {
  border-bottom: 1px solid #8080802e;
}

footer {
  background-color: #8080802e;
  border-top: 1px solid #8080802e;
}

footer .footer-copyright {
  border-top: 1px solid #8080802e;
}

.footer {
  color: #383838;
}

footer .col-md-3 h5 {
  border-bottom: 1px solid #8080802e;
  padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .information .jumbotron {
    margin-bottom: 0;
    background-color: #d35266;
    border-radius: 0;
    color: white;
    padding: 3rem 1rem;
  }

  .content .carousel-inner {
    height: 440px;
  }
}
